@CHARSET "UTF-8";

a{
	text-decoration:none;
	color:#0F88EB;
}

body{
	background-color:#F7F8FA;
	margin:0;
}

.bar{
	position:fixed;
	height:50px;
	width:1362px;
	background-color:white;
	line-height:50px;
	border-bottom:1px solid #E1E4E7;
}

.bar_1{
	float:left;
	margin-left:170px;
	color:#0F88EB;
	font-size:25px;
}

.bar_2{
	float:left;
	margin-left:25px;
	font-size:15px;
}

.bar_2 a{
	text-decoration: none;
	color:#000;
}
.bar_3_all{
	float:left;
	margin-left:32px;
	margin-top:9px;
}

.bar_3{
	float:left;
	width:340px;
	height:34px;
	background-color:#F7F8FA;
	border-radius:5px;
	border:1px solid #E1E4E7;
	padding-left:10px;
}

.bar_4{
	float:left;
	width:57px;
	height:34px;
	background-color:#0F88EB;
	border:none;
	border-radius:3px;
	margin-left:20px;
	color:white;
	font-size:13px;
}


.bar_5{
		float:left;
	margin-left:180px;
	margin-top:-12px;
}
.bar_5_ul_2{
	margin-left:-65px;
	display:none;
}
.bar_5_img{
	width:30px;
	height:30px;
	text-align:center;
}
.bar_5_li_1{
	display:block;
	width:30px;
	height:30px;
}
.bar_5_li_2{
	display:block;
	width:80px;
	height:40px;
	background-color:#fff;
	color:#aeaeae;
	margin-top:0px;
	text-align:center;
}
.bar_5_li_2 a{
	text-decoration: none;
	color:#aeaeae;
}
.bar_5_li_2:hover{
	display:block;
	width:80px;
	height:40px;
	background-color:#aeaeae;
	color:#fff;
}
.bar_5_li_2 a:hover{
	color:#fff;
}
.top_top{
	background-color:#F7F8FA;
	height:70px;
}
.tuijian-top{
	float:left;
	background-color:white;
	width:1000px;
	height:60px;
	border-bottom:1px solid #E1E4E7;
	margin-left:170px;
	line-height:60px;
	font-size:20px;
}
.lend_top{
	background-color:#fff;
	height:30px;
}
.lend_body{
	width:1000px;
	float:left;
	margin-left:170px;
	padding-top:20px;
	height:auto;
	background-color:#fff;
}
.lend_body1{
	float:left;
	height:220x;
	width:200px;
}
.lend_body1 img{
	height:200px;
	width:200px;
	border-radius:100px;
	margin-left:10px;
}
.lend_body2{
	width:773px;
	height:60px;
	float:left;
	margin-left:25px;
	border:1px solid #E1E4E7;
	line-height:60px;
	background-color:#fff;
}
.lend_body2-1{
	margin-left:20px;
	width:75px;
	height:60px;
	font-weight:bold;
	font-size:18px;
	float:left;
}
.lend_body2-2{
	margin-left:100px;
	line-height:60px;
	color:#aeaeae;
	font-size:13px;
	width:80px;
}
.lend_body2-2 input{
	style:none;
	border:0;
	width:20px;
	color:#000;
	font-size:15px;
}
.lend_body3{
	width:773px;
	height:auto;
	float:left;
	margin-left:25px;
	border-left:1px solid #E1E4E7;
	border-right:1px solid #E1E4E7;
	border-bottom:1px solid #E1E4E7;
}
.lend_body3 table{
	font-size:15px;
	text-align:center;
	background-color:#fff;
}
.lend_body3 table td{
	text-align:center;
	height:50px;
}
.lend_body3 table tr{
	text-align:center;
	height:40px;
}
.bottom-input{
	background-color:#fff;
	border:0;
	width:40px;
	font-size:15px;
	margin-left:-350px;
}
.bottom-input-2{
	background-color:#fff;
	border:0;
	width:40px;
	font-size:15px;
	margin-left:-300px;
}
.returnbutton{
	background-color:#fff;
	border:0;
	height:50px;
}
.returnbutton:hover{
	background-color:#aeaeae;
	color:#fff;
}